body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    margin-top: 0%;

}
h1{
    font-size: 50px;
}
.highlight{
    color:orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
    float: left;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(lightsalmon,tomato) ;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-style:italic;
}
    
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
.dream-area{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
padding-top: 60px;
}
.experience-area{
    margin-top: 300px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    height: 80%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
}